@import url("http://fonts.googleapis.com/css?family=VT323");
body {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
#inputs {
  position: relative;
  z-index: 3;
}
#ticket-hider {
  position: relative;
  z-index: 2;
  background-color: #fff;
  height: 400px;
  width: 400px;
  margin-top: -350px;
  -webkit-box-shadow: 0px 25px 25px -25px #000;
  -moz-box-shadow: 0px 25px 25px -25px #000;
  box-shadow: 0px 25px 25px -25px #000;
}
#ticket {
  position: relative;
  z-index: -1;
  display: block;
  margin-top: -380px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 300px;
  margin-top: -350px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
#ticket .logo {
  position: absolute;
  margin-left: -35px;
  margin-top: 80px;
  opacity: 0.2;
  z-index: -1;
}
#ticket .header {
  font-size: 28px;
  margin-bottom: -16px;
  padding-top: 6px;
}
#ticket .footer {
  position: relative;
  display: inline-block;
  float: left;
  font-family: 'VT323', sans-serif;
  font-size: 13px;
  text-align: left;
  margin-left: 3px;
  margin-top: 21px;
}
#ticket .expiry {
  color: #fff;
  background-color: #000;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
}
#ticket .col-left,
#ticket .col-right {
  display: inline-block;
  vertical-align: top;
}
#ticket .col-left {
  width: 100px;
  float: left;
  text-align: right;
}
#ticket .col-right {
  float: left;
  margin-left: 35px;
}
#ticket .zone-text {
  margin: 0;
  font-size: 32px;
}
#ticket .zone-text.top {
  margin-top: 15px;
}
#ticket .to-text {
  margin: 8px 0;
  font-size: 27.428571428571427px;
}
#ticket .zone-num {
  font-size: 96px;
  margin: 0;
  margin-top: -30px;
}
